body{
    border: 3px solid black;
    height:100vh;
    padding: 10px;
}

header{
    border: 2px solid black;
    height:100px;
    padding:5px;
}

header div{
    border:1px solid black;
    /*height:inherit;*/
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /*overflow:hidden;*/
}

header div div{
    border: 1px solid red;
    width:250px;
}

