body{
    border: 3px solid black;
    height:100vh;
    padding: 10px;
}

header{
    border: 2px solid black;
    height:100px;
    padding:5px;
}

header div{
    border:1px solid black;
    /*height:inherit;*/
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /*overflow:hidden;*/
}

header div div{
    border: 1px solid red;
    width:250px;
    border-radius: 5px;
}

header div div a
{
    border:1px solid green;
    width: inherit;

}

header div div a span
{
    text-align: center;
}

main
{
    border:2px solid black;
    height: inherit;
    margin-top: 10px;
    padding:5px;
}

main section
{
    border: 1px solid black;
    padding:10px;
    display:flex;
    justify-content:center;
}

#hero-section div
{
    border: 1px solid black;
    width:20%;
}

#hero-section div h1
{
    border: 1px solid blue;
    width:20%;
    padding:0;
    height:150px;
}

#hero-section div p
{
    border: 1px solid purple;
    margin:0;
}

#hero-section div h1
{
    border: 1px solid orange;
    
}
